@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
  margin: 5vw 10vw 0px 10vw;
  text-shadow: 0 0 1vmin black;
  padding: 0px;
  color: white;
  font-family: 'Merriweather', monospace, sans-serif;
  font-size: 2vmin;
  background-image: url(house.jpeg);
  background-size: cover;
}

body * {
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-size: 7vmin;
  text-shadow: 0 0 1vmin black;
}

h3 {
  font-size: 5vmin;
  text-align: center;
  text-shadow: 0 0 1vmin black;
}



#contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  background-color: rgba(2, 34, 9, 0.65);
  padding: 2vmin;
  font-size: 3vmin;
}

.contentItem {
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  border: 2px solid #eee;
  border-radius: 0.25vmin;
  height: 100%;
}

.footerImageContainer {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100%;
}

.footerImage {
  width: 100%;
  height: 40vmin;
  object-fit: cover;
  border: 2px solid #eee;
  border-radius: 0.25vmin;
}
